{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

     {% block head_content %}
     <style type="text/css">
        .clearablefileinput{font-size:.6em;}
        label{font-size: .8em;}
        th {font-size: 11px;}
        .container{width:2000px;}
        .control-label{display:none;}
        .form-control{height:22px;padding:4px 6px;font-size:.8em;margin-right:2px;}
        .td_item{width:130px;}
        .td_item_ns{width:110px;}
        .td_desc{width:260px;}
        .td_date{width:60px;}
     </style> 
        {% endblock %}
        {% block content %} 
<iframe id="inbox_frame" src="" width="100%" height="100%"></iframe> 
<div class="container tmarg">
  {% if messages %}
        <div class="row">
            <div class="col-sm-12">
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
            </div>
        </div>
        {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="well">

                <form name="DexProductForm" action="{% url 'b5:add_dex' %}"  method="POST" enctype="multipart/form-data">{% csrf_token %}
                {{ formset.management_form }}
                  <table style="margin-bottom:15px;">
                      <tr>
                          <th>ad date</th>
                          <th>item no</th>
                          <th>mfg</th>
                          <th>description</th>
                          <th>vendor no</th>
                          <th>order date</th>
                          <th>received dc</th>
                          <th>received buyer</th>
                          <th>received other</th>
                          <th>studio out</th>
                          <th>checked out</th>
                          <th>studio in</th>
                          <th>confirmed placed</th>
                          <th>notes</th>
                          <th>item ns</th>
                          <th>sku</th>
                          <th>sku ns</th>
                          <th>first</th>
                          <th>first date</th>
                          <th>first buyer</th>
                          <th>not available</th>
                          <th>not available</th>
                          <th>not available</th>
                          <th>not available</th>
                          <th>not available</th>
                      </tr>
                      {% for form in formset %}
                      <tr>
                          <td class="td_date"> 
                            <input type="text" name="{{ form.ad_date.html_name }}" id="{{ form.ad_date.id_for_label }}" class="form-control ad_datepicker">
                          </td>
                          <td class="td_item"> {{ form.item_no|as_crispy_field:"bootstrap" }}</td>
                          <td> {{ form.mfg|as_crispy_field:"bootstrap" }}</td>
                          <td class="td_desc">{{ form.desc|as_crispy_field:"bootstrap" }}</td>
                          <td> {{ form.vendor_number|as_crispy_field:"bootstrap" }}</td>
                          <td class="td_date"> {{ form.order_date|as_crispy_field:"bootstrap" }}</td>
                          <td class="td_date"> {{ form.received_dc|as_crispy_field:"bootstrap" }}</td>
                          <td class="td_date">{{ form.received_buyer|as_crispy_field:"bootstrap" }}</td>

                          <td> {{ form.received_other|as_crispy_field:"bootstrap" }}</td>
                          <td class="td_date"> {{ form.studio_out|as_crispy_field:"bootstrap" }}</td>
                          <td class="td_checked_out"> {{ form.checked_out|as_crispy_field:"bootstrap" }}</td>
                          <td class="td_date"> {{ form.studio_in|as_crispy_field:"bootstrap" }}</td>
                          <td class="td_date"> {{ form.confirmed_placed|as_crispy_field:"bootstrap" }}</td>
                          <td>{{ form.notes|as_crispy_field:"bootstrap" }}</td>
                          <td class="td_item_ns"> {{ form.item_ns|as_crispy_field:"bootstrap" }}</td>
                          <td class="td_sku"> {{ form.sku|as_crispy_field:"bootstrap" }}</td>
                          <td class="td_sku_ns"> {{ form.sku_ns|as_crispy_field:"bootstrap" }}</td>
                          <td>{{ form.first|as_crispy_field:"bootstrap" }}</td>
                          <td class="td_date"> 
                            <input type="text" name="{{ form.first_date.html_name }}" id="{{ form.first_date.id_for_label }}" class="form-control datepicker">
                          </td>
                          <td> {{ form.buyer|as_crispy_field:"bootstrap" }}</td>
                          <td> {{ form.na|as_crispy_field:"bootstrap" }}</td>
                          <td>{{ form.received_137|as_crispy_field:"bootstrap" }}</td>
                          <td>{{ form.shooting_instructions|as_crispy_field:"bootstrap" }}</td>
                          <td>{{ form.photo_dldate|as_crispy_field:"bootstrap" }}</td>
                          <td>{{ form.whowhen|as_crispy_field:"bootstrap" }}</td>
                      </tr>
                      {% endfor %}
                  </table>
                    
                    <input type="submit" value="Submit" />
                </form>
                <script type="text/javascript">
                  $("[id$=item_ns]")
                    .focusout(function() {
                      var basecode = $(this).parents('tr').children('.td_item_ns').find('input').val();
                      // var basecode = $(this).val();
                      console.log(basecode);
                      var item_num = basecode.slice(0, 4) + " " + basecode.slice(4, 9) + " " + basecode.slice(9, 13) + " " + basecode.slice(13, 16);
                      var sku_nospace = basecode.slice(0, 13);
                      var sku = basecode.slice(0, 4) + " " + basecode.slice(4, 9) + " " + basecode.slice(9, 13);
                      // console.log(basecode);
                      // console.log(item_num);
                      // console.log($(this).parents('tr').children('.td_item').find('input').val());
                      // target_1 = $(this).parents('tr').children('.td_item').find('input');
                      if (basecode != " "){
                        $(this).parents('tr').children('.td_item').find('input').val(item_num);
                        $(this).parents('tr').children('.td_sku').find('input').val(sku);
                        $(this).parents('tr').children('.td_sku_ns').find('input').val(sku_nospace);
                      }
                    })                  
                  $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' }).val();
                  $('.ad_datepicker').datepicker({ dateFormat: 'yymmdd' }).val();
               </script>
            </div>
        </div>
        
    </div>
</div>


        {% endblock %}

