{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

     
        

        {% block content %}
<iframe id="inbox_frame" src="" width="100%" height="100%"></iframe>           
<div class="container tmarg">
    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            <form name="PageForm" action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                     <input type="text" name="URL" id="refURL" class="hidden" /> 
                </div>
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div class="col-md-4">
            
        </div>
        
    </div>
</div>
<script type="text/javascript">
  var refURL=document.referrer;
  var target=document.getElementById('refURL');
  target.value=refURL;
  var hidden_items = document.querySelectorAll('hidden');
  hidden_items.visibility = "hidden";  
</script>

        {% endblock %}
