{% if boxrecords %}
                {% for boxrecord in boxrecords|slice:":1" %}
              <div id="tlist_{{ boxrecord.id }}" class="tlist">
                    <h4>{{ boxrecord.name }}</h4>
                    <table id="{{ boxrecord.name }}_table" 
                        data-toggle="table"  
                        data-query-params="queryParams"
                        data-pagination="true"
                        data-striped="false"
                        data-page-size = 20
                        class="display_table">
                      <thead>
                        <tr>
                            <th> </th>
                            <th>priority</th>
                            <th>from</th>
                            <th>job name</th>
                            <th>request</th>
                            <th>sku</th>
                            <th>note</th>
                            <th>target return</th>
                            <th>accepted_by</th>
                            <th>status<th>
                            <th>completed<th>
                        </tr>
                      </thead>
                      <tbody>
                            {% if box1s %}
                            {% for box1 in box1s %}
                        <tr class="list_row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} {{ box1.priority }}" id="_{{ box1.id }}">
                            <td><a href="{% url 'taskmanager:edit_inboxentry' box1.id user.userprofile.id  %}"><input type="button" class="edit_btn" value="edit" /></a></td>

                            <td class="priority_cell">{{ box1.priority }}</td>
                            <td><a href="mailto:{{ box1.assigned_by.email }}?subject=taskbox:&nbsp;{{ box1.long_sku }}-{{ box1.cell_number }}&nbsp;&nbsp;{{ box1.job_name }}">{{ box1.assigned_by }}</a></td>
                            
                            <td>{{ box1.job_name }}</td>
                            <td>{{ box1.request }}</td>
                            <td>{{ box1.long_sku }}</td>
                            <td><div class="note"><a title="{{ box1.note }}" href="#">{{ box1.note }}</a></div></td>
                            <td>{{ box1.date_due }}</td>
                            <td><a href="mailto:{{ box1.accepted_by.email }}?subject=taskbox:&nbsp;{{ box1.long_sku }}-{{ box1.cell_number }}&nbsp;&nbsp;{{ box1.job_name }}">{{ box1.accepted_by }}</a></td>
                            <td class="status_cell">{{ box1.status }}</td>
                            <td> </td>
                            <td>{{ box1.completed_on }}</td>
            
                                    {% endfor %}
                                    {% else %}
                                    {% endif %}
                            </div>
                        
            
                        </tr>
                        
                      </tbody>
                    </table>
              </div>
                                    {% endfor %}
              
              
             {% for boxrecord in boxrecords|slice:"1:2" %}
              <div id="tlist_{{ boxrecord.id }}" class="tlist">
                    <h4>{{ boxrecord.name }}</h4>
                    <table id="{{ boxrecord.name }}_table" 
                        data-toggle="table"  
                        data-query-params="queryParams"
                        data-pagination="true"
                        data-striped="false"
                        data-page-size = 20
                        class="display_table">
                        <tr>
                            <th> </th>
                            <th>priority</th>
                            <th>from</th>
                            <th>job name</th>
                            <th>request</th>
                            <th>sku</th>
                            <th>note</th>
                            <th>target return</th>
                            <th>accepted_by</th>
                            <th>status<th>
                            <th>completed<th>
                        </tr>
                      </thead>
                      <tbody>
                             {% if box2s %}
                            {% for box2 in box2s %}
                        <tr class="list_row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} {{ box2.priority }}" id="_{{ box2.id }}">
                            <td><a href="{% url 'taskmanager:edit_inboxentry' box2.id user.userprofile.id  %}"><input type="button" class="edit_btn" value="edit" /></a></td>

                            <td class="priority_cell">{{ box2.priority }}</td>
                            <td><a href="mailto:{{ box2.assigned_by.email }}?subject=taskbox:&nbsp;{{ box2.long_sku }}-{{ box2.cell_number }}&nbsp;&nbsp;{{ box2.job_name }}">{{ box2.assigned_by }}</a></td>
                            
                            <td>{{ box2.job_name }}</td>
                            <td>{{ box2.request }}</td>
                            <td>{{ box2.long_sku }}</td>
                            <td><div class="note"><a title="{{ box2.note }}" href="#">{{ box2.note }}</a></div></td>
                            <td>{{ box2.date_due }}</td>
                            <td><a href="mailto:{{ box2.accepted_by.email }}?subject=taskbox:&nbsp;{{ box2.long_sku }}-{{ box2.cell_number }}&nbsp;&nbsp;{{ box2.job_name }}">{{ box2.accepted_by }}</a></td>
                            <td class="status_cell">{{ box2.status }}</td>
                            <td> </td>
                            <td>{{ box2.completed_on }}</td>

            
                                    {% endfor %}
                                    {% else %}
                                    {% endif %}
                            </div>
                        
            
                        </tr>
                        
                      </tbody>
                    </table>
              </div>
                                    {% endfor %}


                {% for boxrecord in boxrecords|slice:"2:3" %}
              <div id="tlist_{{ boxrecord.id }}" class="tlist">
                    <h4>{{ boxrecord.name }}</h4>
                    <table id="{{ boxrecord.name }}_table" 
                        data-toggle="table"  
                        data-query-params="queryParams"
                        data-pagination="true"
                        data-striped="false"
                        data-page-size = 20
                        class="display_table">
                      <thead>
                        <tr>
                            <th> </th>
                            <th>priority</th>
                            <th>from</th>
                            <th>job name</th>
                            <th>request</th>
                            <th>sku</th>
                            <th>note</th>
                            <th>target return</th>
                            <th>accepted_by</th>
                            <th>status<th>
                            <th>completed<th>
                        </tr>
                      </thead>
                      <tbody>
                            {% if box3s %}
                            {% for box3 in box3s %}
                        <tr class="list_row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} {{ box3.priority }}" id="_{{ box3.id }}">
                            <td><a href="{% url 'taskmanager:edit_inboxentry' box3.id user.userprofile.id  %}"><input type="button" class="edit_btn" value="edit" /></a></td>

                            <td class="priority_cell">{{ box3.priority }}</td>
                            <td><a href="mailto:{{ box3.assigned_by.email }}?subject=taskbox:&nbsp;{{ box3.long_sku }}-{{ box3.cell_number }}&nbsp;&nbsp;{{ box3.job_name }}">{{ box3.assigned_by }}</a></td>
                            
                            <td>{{ box3.job_name }}</td>
                            <td>{{ box3.request }}</td>
                            <td>{{ box3.long_sku }}</td>
                            <td><div class="note"><a title="{{ box3.note }}" href="#">{{ box3.note }}</a></div></td>
                            <td>{{ box3.date_due }}</td>
                            <td><a href="mailto:{{ box3.accepted_by.email }}?subject=taskbox:&nbsp;{{ box3.long_sku }}-{{ box3.cell_number }}&nbsp;&nbsp;{{ box3.job_name }}">{{ box3.accepted_by }}</a></td>
                            <td class="status_cell">{{ box3.status }}</td>
                            <td> </td>
                            <td>{{ box3.completed_on }}</td>

                                {% endfor %}
                                {% else %}
                                {% endif %}
                            </div>
                        
            
                        </tr>
                        
                      </tbody>
                    </table>
              </div>
                                    {% endfor %}

                {% for boxrecord in boxrecords|slice:"3:4" %}
              <div id="tlist_{{ boxrecord.id }}" class="tlist">
                    <h4>{{ boxrecord.name }}</h4>
                    <table id="{{ boxrecord.name }}_table"
                        data-toggle="table"  
                        data-query-params="queryParams"
                        data-pagination="true"
                        data-striped="false"
                        data-page-size = 20
                        class="display_table">
                      <thead>
                        <tr>
                            <th> </th>
                            <th>priority</th>
                            <th>from</th>
                            <th>job name</th>
                            <th>request</th>
                            <th>sku</th>
                            <th>note</th>
                            <th>target return</th>
                            <th>accepted_by</th>
                            <th>status<th>
                            <th>completed<th>
                        </tr>
                      </thead>
                      <tbody>
                            {% if box4s %}
                            {% for box4 in box4s %}
                        <tr class="list_row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} {{ box4.priority }}" id="_{{ box4.id }}">
                            <td><a href="{% url 'taskmanager:edit_inboxentry' box4.id user.userprofile.id  %}"><input type="button" class="edit_btn" value="edit" /></a></td>

                            <td class="priority_cell">{{ box4.priority }}</td>
                            <td><a href="mailto:{{ box4.assigned_by.email }}?subject=taskbox:&nbsp;{{ box4.long_sku }}-{{ box4.cell_number }}&nbsp;&nbsp;{{ box4.job_name }}">{{ box4.assigned_by }}</a></td>
                            
                            <td>{{ box4.job_name }}</td>
                            <td>{{ box4.request }}</td>
                            <td>{{ box4.long_sku }}</td>
                            <td><div class="note"><a title="{{ box4.note }}" href="#">{{ box4.note }}</a></div></td>
                            <td>{{ box4.date_due }}</td>
                            <td><a href="mailto:{{ box4.accepted_by.email }}?subject=taskbox:&nbsp;{{ box4.long_sku }}-{{ box4.cell_number }}&nbsp;&nbsp;{{ box4.job_name }}">{{ box4.accepted_by }}</a></td>
                            <td class="status_cell">{{ box4.status }}</td>
                            <td> </td>
                            <td>{{ box4.completed_on }}</td>

                                    {% endfor %}
                                    {% else %}
                                    {% endif %}
                            </div>
                        
            
                        </tr>
                        
                      </tbody>
                    </table>
              </div>
                                    {% endfor %}

                {% for boxrecord in boxrecords|slice:"4:5" %}
              <div id="tlist_{{ boxrecord.id }}" class="tlist">
                    <h4>{{ boxrecord.name }}</h4>
                    <table id="{{ boxrecord.name }}_table"
                        data-toggle="table"  
                        data-query-params="queryParams"
                        data-pagination="true"
                        data-striped="false"
                        data-page-size = 20
                        class="display_table">
                      <thead>
                        <tr>
                            <th> </th>
                            <th>priority</th>
                            <th>from</th>
                            <th>job name</th>
                            <th>request</th>
                            <th>sku</th>
                            <th>note</th>
                            <th>target return</th>
                            <th>accepted_by</th>
                            <th>status<th>
                            <th>completed<th>
                        </tr>
                      </thead>
                      <tbody>
                            {% if box5s %}
                            {% for box5 in box5s %}
                        <tr class="list_row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} {{ box5.priority }}" id="_{{ box5.id }}">
                            <td><a href="{% url 'taskmanager:edit_inboxentry' box5.id user.userprofile.id  %}"><input type="button" class="edit_btn" value="edit" /></a></td>

                            <td class="priority_cell">{{ box5.priority }}</td>
                            <td><a href="mailto:{{ box5.assigned_by.email }}?subject=taskbox:&nbsp;{{ box5.long_sku }}-{{ box5.cell_number }}&nbsp;&nbsp;{{ box5.job_name }}">{{ box5.assigned_by }}</a></td>
                            
                            <td>{{ box5.job_name }}</td>
                            <td>{{ box5.request }}</td>
                            <td>{{ box5.long_sku }}</td>
                            <td><div class="note"><a title="{{ box5.note }}" href="#">{{ box5.note }}</a></div></td>
                            <td>{{ box5.date_due }}</td>
                            <td><a href="mailto:{{ box5.accepted_by.email }}?subject=taskbox:&nbsp;{{ box5.long_sku }}-{{ box5.cell_number }}&nbsp;&nbsp;{{ box5.job_name }}">{{ box5.accepted_by }}</a></td>
                            <td class="status_cell">{{ box5.status }}</td>
                            <td> </td>
                            <td>{{ box5.completed_on }}</td>

                                    {% endfor %}
                                    {% else %}
                                    {% endif %}
                            </div>
                        
            
                        </tr>
                        
                      </tbody>
                    </table>
              </div>
                                    {% endfor %}
                        {% else %}
                        {% endif %}
              